# ----------------------------------------------------------------
# PROMPTIFY CONFIGURATION
# ----------------------------------------------------------------

# ----------------------------------------------------------------
# MAXIMUM FILE SIZE IN BYTES
# ALLOWED TO BE READ
# ----------------------------------------------------------------

PROMPTIFY_MAX_FILE_SIZE=5242880

# ----------------------------------------------------------------
# MAXIMUM CONCURRENT FILE READS TO PREVENT
# OS DESCRIPTOR EXHAUSTION
# ----------------------------------------------------------------

PROMPTIFY_MAX_CONCURRENT_READS=64

# ----------------------------------------------------------------
# DEFAULT LANGUAGE LOCALE FOR STRINGS
# ----------------------------------------------------------------

PROMPTIFY_LOCALE="en"
